USE [master]
GO
/****** Object:  Database [QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE DATABASE [QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN', FILENAME = N'C:\Users\acer\QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN_log', FILENAME = N'C:\Users\acer\QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDoAnPhanCongGV_UNETI12_TI17A1HN]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyDeTais]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyDeTais](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[MaDeTai] [int] NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
	[LyDoDangKy] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[GhiChuDuyet] [nvarchar](max) NULL,
	[TrangThaiThucHien] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DangKyDeTais] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTais]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTais](
	[MaDeTai] [int] IDENTITY(1,1) NOT NULL,
	[TenDeTai] [nvarchar](255) NOT NULL,
	[MaLinhVuc] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[YeuCau] [nvarchar](max) NULL,
	[SoSinhVienToiDa] [int] NOT NULL,
	[NamHoc] [int] NOT NULL,
	[HocKy] [int] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DeTais] PRIMARY KEY CLUSTERED 
(
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangViens]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangViens](
	[MaGiangVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[HocVi] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[MaLinhVuc] [int] NOT NULL,
	[SoSinhVienHuongDanToiDa] [int] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GiangViens] PRIMARY KEY CLUSTERED 
(
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhVucs]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVucs](
	[MaLinhVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenLinhVuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LinhVucs] PRIMARY KEY CLUSTERED 
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongHuongDans]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongHuongDans](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaDangKy] [int] NOT NULL,
	[MaGiangVien] [nvarchar](20) NOT NULL,
	[NgayBatDau] [datetime2](7) NOT NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanCongHuongDans] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhViens]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhViens](
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[Lop] [nvarchar](50) NULL,
	[Khoa] [nvarchar](100) NULL,
	[ChuyenNganh] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SinhViens] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 10/2/2026 12:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[VaiTro] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260930015739_InitDatabase', N'10.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260930075023_AddTrangThaiThucHien', N'10.0.12')
GO
SET IDENTITY_INSERT [dbo].[DangKyDeTais] ON 

INSERT [dbo].[DangKyDeTais] ([MaDangKy], [MaSinhVien], [MaDeTai], [NgayDangKy], [LyDoDangKy], [TrangThai], [GhiChuDuyet], [TrangThaiThucHien]) VALUES (1, N'SV002', 1, CAST(N'2025-08-12T00:00:00.0000000' AS DateTime2), N'Đã thực hiện phần giao diện, muốn tiếp tục đồ án.', N'DaDuyet', N'Hồ sơ hợp lệ, đề nghị liên hệ giảng viên để bắt đầu thực hiện.', N'DangThucHien')
INSERT [dbo].[DangKyDeTais] ([MaDangKy], [MaSinhVien], [MaDeTai], [NgayDangKy], [LyDoDangKy], [TrangThai], [GhiChuDuyet], [TrangThaiThucHien]) VALUES (2, N'SV003', 2, CAST(N'2025-08-15T00:00:00.0000000' AS DateTime2), N'Quan tâm tới thị giác máy tính và ứng dụng trong điểm danh.', N'DaDuyet', N'Hồ sơ hợp lệ, đề nghị liên hệ giảng viên để bắt đầu thực hiện.', N'DangThucHien')
INSERT [dbo].[DangKyDeTais] ([MaDangKy], [MaSinhVien], [MaDeTai], [NgayDangKy], [LyDoDangKy], [TrangThai], [GhiChuDuyet], [TrangThaiThucHien]) VALUES (3, N'SV004', 2, CAST(N'2025-08-18T00:00:00.0000000' AS DateTime2), N'Muốn tham gia nhóm phát triển ứng dụng điểm danh AI.', N'DaDuyet', N'Hồ sơ hợp lệ, đề nghị liên hệ giảng viên để bắt đầu thực hiện.', N'DangThucHien')
SET IDENTITY_INSERT [dbo].[DangKyDeTais] OFF
GO
SET IDENTITY_INSERT [dbo].[DeTais] ON 

INSERT [dbo].[DeTais] ([MaDeTai], [TenDeTai], [MaLinhVuc], [MoTa], [YeuCau], [SoSinhVienToiDa], [NamHoc], [HocKy], [TrangThai]) VALUES (1, N'Xây dựng website quản lý thư viện', 1, N'Ứng dụng MVC quản lý sách, độc giả và mượn trả.', N'C# ASP.NET Core MVC, SQL Server', 1, 2025, 2, N'DuSoLuong')
INSERT [dbo].[DeTais] ([MaDeTai], [TenDeTai], [MaLinhVuc], [MoTa], [YeuCau], [SoSinhVienToiDa], [NamHoc], [HocKy], [TrangThai]) VALUES (2, N'Ứng dụng điểm danh bằng trí tuệ nhân tạo', 2, N'Nhận diện khuôn mặt để điểm danh tự động.', N'Python hoặc C# kết hợp thư viện AI', 2, 2025, 2, N'DuSoLuong')
INSERT [dbo].[DeTais] ([MaDeTai], [TenDeTai], [MaLinhVuc], [MoTa], [YeuCau], [SoSinhVienToiDa], [NamHoc], [HocKy], [TrangThai]) VALUES (3, N'Website bán hàng trực tuyến', 1, N'Cửa hàng điện tử kèm thanh toán và quản lý đơn hàng.', N'ASP.NET Core MVC', 2, 2025, 2, N'DuSoLuong')
SET IDENTITY_INSERT [dbo].[DeTais] OFF
GO
INSERT [dbo].[GiangViens] ([MaGiangVien], [HoTen], [HocVi], [Email], [SoDienThoai], [MaLinhVuc], [SoSinhVienHuongDanToiDa], [TrangThai]) VALUES (N'GV001', N'TS. Nguyễn Văn An', N'Tiến sĩ', N'nguyenvanan@uneti.edu.vn', N'0981000001', 1, 3, N'DangCongTac')
INSERT [dbo].[GiangViens] ([MaGiangVien], [HoTen], [HocVi], [Email], [SoDienThoai], [MaLinhVuc], [SoSinhVienHuongDanToiDa], [TrangThai]) VALUES (N'GV002', N'TS. Trần Thị Bình', N'Tiến sĩ', N'tranthibinh@uneti.edu.vn', N'0981000002', 1, 3, N'DangCongTac')
INSERT [dbo].[GiangViens] ([MaGiangVien], [HoTen], [HocVi], [Email], [SoDienThoai], [MaLinhVuc], [SoSinhVienHuongDanToiDa], [TrangThai]) VALUES (N'GV003', N'TS. Lê Văn Chiến', N'Tiến sĩ', N'levanchien@uneti.edu.vn', N'0981000003', 2, 2, N'DangCongTac')
GO
SET IDENTITY_INSERT [dbo].[LinhVucs] ON 

INSERT [dbo].[LinhVucs] ([MaLinhVuc], [TenLinhVuc], [MoTa], [TrangThai]) VALUES (1, N'Công nghệ phần mềm', N'Phát triển ứng dụng web, mobile và hệ thống thông tin.', N'HoatDong')
INSERT [dbo].[LinhVucs] ([MaLinhVuc], [TenLinhVuc], [MoTa], [TrangThai]) VALUES (2, N'Trí tuệ nhân tạo', N'Học máy, xử lý ngôn ngữ tự nhiên và thị giác máy tính.', N'HoatDong')
INSERT [dbo].[LinhVucs] ([MaLinhVuc], [TenLinhVuc], [MoTa], [TrangThai]) VALUES (3, N'An toàn thông tin', N'Bảo mật hệ thống, phân tích malware và giám sát mạng.', N'HoatDong')
SET IDENTITY_INSERT [dbo].[LinhVucs] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanCongHuongDans] ON 

INSERT [dbo].[PhanCongHuongDans] ([MaPhanCong], [MaDangKy], [MaGiangVien], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu]) VALUES (1, 1, N'GV001', CAST(N'2025-08-15T00:00:00.0000000' AS DateTime2), NULL, N'DangHuongDan', N'Bắt đầu hướng dẫn đồ án.')
INSERT [dbo].[PhanCongHuongDans] ([MaPhanCong], [MaDangKy], [MaGiangVien], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu]) VALUES (2, 2, N'GV003', CAST(N'2025-08-18T00:00:00.0000000' AS DateTime2), NULL, N'DangHuongDan', N'Bắt đầu hướng dẫn đồ án.')
INSERT [dbo].[PhanCongHuongDans] ([MaPhanCong], [MaDangKy], [MaGiangVien], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu]) VALUES (3, 3, N'GV003', CAST(N'2025-08-20T00:00:00.0000000' AS DateTime2), NULL, N'DangHuongDan', N'Bắt đầu hướng dẫn đồ án.')
SET IDENTITY_INSERT [dbo].[PhanCongHuongDans] OFF
GO
INSERT [dbo].[SinhViens] ([MaSinhVien], [MaTaiKhoan], [HoTen], [NgaySinh], [Lop], [Khoa], [ChuyenNganh], [Email], [SoDienThoai], [TrangThai]) VALUES (N'SV001', 2, N'Đào Hoàng An', CAST(N'2003-02-07T00:00:00.0000000' AS DateTime2), N'KTX2025K2', N'Công nghệ thông tin', N'Hệ thống thông tin', N'sv001@uneti.edu.vn', N'090100001', N'HoatDong')
INSERT [dbo].[SinhViens] ([MaSinhVien], [MaTaiKhoan], [HoTen], [NgaySinh], [Lop], [Khoa], [ChuyenNganh], [Email], [SoDienThoai], [TrangThai]) VALUES (N'SV002', 3, N'Sinh viên 002', CAST(N'2003-03-16T00:00:00.0000000' AS DateTime2), N'KTX2026K3', N'Công nghệ thông tin', N'Hệ thống thông tin', N'sv002@uneti.edu.vn', N'090100002', N'HoatDong')
INSERT [dbo].[SinhViens] ([MaSinhVien], [MaTaiKhoan], [HoTen], [NgaySinh], [Lop], [Khoa], [ChuyenNganh], [Email], [SoDienThoai], [TrangThai]) VALUES (N'SV003', 4, N'Sinh viên 003', CAST(N'2003-04-22T00:00:00.0000000' AS DateTime2), N'KTX2024K4', N'Công nghệ thông tin', N'Hệ thống thông tin', N'sv003@uneti.edu.vn', N'090100003', N'HoatDong')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoans] ON 

INSERT [dbo].[TaiKhoans] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'admin@uneti.edu.vn', N'Admin', N'HoatDong')
INSERT [dbo].[TaiKhoans] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai]) VALUES (2, N'sv001', N'123456', N'Đào Hoàng An', N'sv001@uneti.edu.vn', N'SinhVien', N'HoatDong')
INSERT [dbo].[TaiKhoans] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai]) VALUES (3, N'sv002', N'123456', N'Sinh viên 002', N'sv002@uneti.edu.vn', N'SinhVien', N'HoatDong')
SET IDENTITY_INSERT [dbo].[TaiKhoans] OFF
GO
/****** Object:  Index [IX_DangKyDeTais_MaDeTai]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_DangKyDeTais_MaDeTai] ON [dbo].[DangKyDeTais]
(
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DangKyDeTais_MaSinhVien]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_DangKyDeTais_MaSinhVien] ON [dbo].[DangKyDeTais]
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeTais_MaLinhVuc]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeTais_MaLinhVuc] ON [dbo].[DeTais]
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiangViens_MaLinhVuc]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_GiangViens_MaLinhVuc] ON [dbo].[GiangViens]
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCongHuongDans_MaDangKy]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCongHuongDans_MaDangKy] ON [dbo].[PhanCongHuongDans]
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhanCongHuongDans_MaGiangVien]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCongHuongDans_MaGiangVien] ON [dbo].[PhanCongHuongDans]
(
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SinhViens_MaTaiKhoan]    Script Date: 10/2/2026 12:36:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SinhViens_MaTaiKhoan] ON [dbo].[SinhViens]
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyDeTais] ADD  DEFAULT (N'ChuaBatDau') FOR [TrangThaiThucHien]
GO
ALTER TABLE [dbo].[DangKyDeTais]  WITH CHECK ADD  CONSTRAINT [FK_DangKyDeTais_DeTais_MaDeTai] FOREIGN KEY([MaDeTai])
REFERENCES [dbo].[DeTais] ([MaDeTai])
GO
ALTER TABLE [dbo].[DangKyDeTais] CHECK CONSTRAINT [FK_DangKyDeTais_DeTais_MaDeTai]
GO
ALTER TABLE [dbo].[DangKyDeTais]  WITH CHECK ADD  CONSTRAINT [FK_DangKyDeTais_SinhViens_MaSinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhViens] ([MaSinhVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyDeTais] CHECK CONSTRAINT [FK_DangKyDeTais_SinhViens_MaSinhVien]
GO
ALTER TABLE [dbo].[DeTais]  WITH CHECK ADD  CONSTRAINT [FK_DeTais_LinhVucs_MaLinhVuc] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVucs] ([MaLinhVuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeTais] CHECK CONSTRAINT [FK_DeTais_LinhVucs_MaLinhVuc]
GO
ALTER TABLE [dbo].[GiangViens]  WITH CHECK ADD  CONSTRAINT [FK_GiangViens_LinhVucs_MaLinhVuc] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVucs] ([MaLinhVuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiangViens] CHECK CONSTRAINT [FK_GiangViens_LinhVucs_MaLinhVuc]
GO
ALTER TABLE [dbo].[PhanCongHuongDans]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongHuongDans_DangKyDeTais_MaDangKy] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKyDeTais] ([MaDangKy])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCongHuongDans] CHECK CONSTRAINT [FK_PhanCongHuongDans_DangKyDeTais_MaDangKy]
GO
ALTER TABLE [dbo].[PhanCongHuongDans]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongHuongDans_GiangViens_MaGiangVien] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GiangViens] ([MaGiangVien])
GO
ALTER TABLE [dbo].[PhanCongHuongDans] CHECK CONSTRAINT [FK_PhanCongHuongDans_GiangViens_MaGiangVien]
GO
ALTER TABLE [dbo].[SinhViens]  WITH CHECK ADD  CONSTRAINT [FK_SinhViens_TaiKhoans_MaTaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoans] ([MaTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhViens] CHECK CONSTRAINT [FK_SinhViens_TaiKhoans_MaTaiKhoan]
GO
USE [master]
GO
